:root {
  --bg: #000;
  --title-font: 'Bodoni Moda', serif;
  --body-font: 'Inter', sans-serif;
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --text-color: #6B5E50;
  --text-color-secondary: white;
  --text-color-hover: #3e2f20;
  --background-color: #fdfdfd;

  
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: var(--bg);
  font-family: var(--body-font);
  overflow-x: hidden;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}
h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
}